%h1 Listing tasks
- @tasks.sort_by{|t| t.project_id}.each do |task|
  .tasklist
    %b= task.name
    %br
    Project name:
    %b= Project.find(task.project_id).name
    %br
    %textarea= task.content
    %br
    Status:
    = task.status
  .actiondiv
    = link_to 'Show', task
    %br= link_to 'Edit', edit_task_path(task)
    = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
  .clear
    
= link_to 'New Task', new_task_path
