%h1 Listing projects
- @projects.each do |project|
  .projdiv
    .namediv
      %h2= project.name
    .actiondiv
      = link_to 'Show', project
      %br= link_to 'Edit', edit_project_path(project)
      = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
    .clear
= link_to 'New Project', new_project_path
