.projheaddiv
  Project: 
  = @project.name
  %br
  Users:
  - @project.users.each do |u|
    = u.name
    %br

%h3 Listing tasks
- @project.tasks.each do |task|
  .taskdiv
    %b= task.name
    .contentdiv
      = task.content
    Status:
    = task.status
    
    
    

= link_to 'Listing of all tasks', tasks_path
%br= link_to 'Back', projects_path
