!!!
%html
  %head
    %title Promanap2
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          - if current_user
            %nav
              %ul
                %li= link_to 'Projects', projects_path
                %li= link_to 'Settings', edit_user_registration_path
                %li= link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            %nav
              %ul
                %li= link_to 'Sign up', new_user_registration_path
                %li= link_to 'Sign in', new_user_session_path
    %p.notice= notice
    %p.alert= alert
    = yield
