<!DOCTYPE html>
<html>
<head>
  <title>Promanap2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
    <%= current_user.name %> is you. 
    <%= link_to 'Настройки', edit_user_registration_path %><br />
    Not you?
<%=link_to 'Sign out', destroy_user_session_path, method: :delete%>
  <% else %>
<%=link_to 'Sign up', new_user_registration_path %>
<%=link_to 'Sign in', new_user_session_path %>
  <% end %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
